body {
    font-family: 'Poppins', sans-serif;

}

h1 {
    font-size: 60px;
    color: white;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

.header-text {
    text-align: center;
    color:black;
    padding-top: 150px;
}
.header-paragraph{
    color:white;
}

.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;

}

.top-banner{
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    height: 500px;
    background-size: cover;

}

.continar{
    display: flex;
    margin: 10px;
    justify-content: center;
}

.maney {
    background-color: rgb(241, 244, 244);
    width: 120px;
    height: 80px;
    margin: 12px;
    border-radius: 5px;
    text-align: center;
    padding-bottom: 20px;
    color: rgb(159, 155, 155);
}

.change-color {
    background-color: rgb(240, 231, 214);
    border: 2px solid red;
    color: red;
}


.other-amount {
    text-align: center;
    border-bottom: 1px solid rgb(194, 188, 188);
    color: rgb(194, 188, 188);
    height: 30px;

}



.continar-2nd-section {
    width: 230px;
    background-color: bisque;
    margin-right: 20px;
    padding: 10px;
    margin-bottom: 100px;

}

.change1 {
    background-color: aqua;
}

.change2 {
    background-color: rgb(193, 159, 183);
}


.half-width {

    width: 60%;
    margin: 2px;
}

#images {
    width: 155px;
    height: 244px;
    margin-left: 60px;
}



.decuration {
    display: flex;
    background-color: rgb(216, 227, 163);
    height: 50px;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 80px;
    padding: 81px;
    justify-content: center;

}

.email{
    text-align: left;
    width: 361px;
    height: 48px;
    background-color: rgb(188, 188, 194);
    padding-top: 0%;
    padding-left: 19px;
    color: rgb(58, 57, 57);
    border-bottom-left-radius: 15px 20px;
    border-top-left-radius: 15px 20px;
    padding-bottom: 13px;

}

.subscribe{
    text-align: center;
    background-color: rgb(248, 83, 6);
    width: 100px;
    height: 48px;
    color: white;
    border-bottom-right-radius: 15px 20px;
    border-top-right-radius: 15px 20px;
    padding-bottom: 13px;

}


footer {
    background-color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-text-1{
    font-family: 'Lobster', cursive;
        color: rgb(236, 83, 32);
}
.footer-text-2{
    color: rgb(204, 197, 197);
}
